<div class="input-file" (click)="selectFile()">
  <!-- <div *ngIf="localChange" class="preview" [style.background-image]="'url(&quot;' + fileCurrent.base64Data + '&quot;)'">
  </div> -->
  <div class="content">
    <span *ngIf="!fileCurrent.name">{{ label }}</span>
    <span class="fileSelectImage" *ngIf="fileCurrent.name">
      <!-- <strong>{{fileCurrent.name}}</strong><br> -->
      <ion-button expand="block" size="small" fill="solid">
        Alterar imagem
      </ion-button>
    </span>

    <input
      #fileInput
      type="file"
      [(ngModel)]="file"
      (change)="handleFileSelect($event)"
    />
  </div>
</div>
