ion-content {
  --background: var(--ion-background-app);
}

ion-toolbar {
  background-color: var(--ion-color-primary);
}

ion-item {
  --background: transparent;
  width: 100%;
}

ion-button {
  width: 100%;
}

ion-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#btn_sair {
  margin-right: 15px;
}

#first {
  margin-top: 30px;
}

p {
  text-align: center;
}

.profile_style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.preview {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: cover;
  margin-top: 10px;
  border-radius: 50%;
  padding-top: 160px;
  margin-bottom: 50px;
}
